/* Seccion estudios y experiencia */

#resumen {
    background-color: #e6e6e6;
    padding: 50px 50px;
    text-align: center;
}

#resumen .contenido-seccion {
    max-width: 80%;
    margin: auto;
    padding: 0 10px;
}

#resumen .contenido-seccion h3 {
    text-transform: uppercase;
    font-size: 30px;
    padding: 20px;
}

#resumen .info-resumen {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.titulo {
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

.colresumen {
    width: 45%;
}

#resumen .colresumen table {
    margin-top: 30px;
    border-collapse: collapse;
}

.datos {
    width: 50%;
    border-bottom: 1px solid #bab9b9;
}

.colresumen table h4 {
    margin-top: 10px;
}

.colresumen table h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.colresumen table h6 {
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.colresumen table p {
    font-size: 14px;
}

#resumen .descripcion {
    border-left: 1px solid #bab9b9;
    padding-left: 20px;
}

.editorexperiencia {
    margin: auto;
    transition: 0.5s;
    width: 100px;
    padding-top: 90px;
}

.añadirExperiencia {
    width: 40px;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 10px;
}


.eliminarExperiencia {
    margin: -38px 100px;
    width: 40px;
    display: block;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 10px;
    border-radius: 10px;
}

.eliminarExperiencia:hover, .añadirExperiencia:hover {
    background-color: purple;
    color: #ffff;
}