<!-- Seccion habilidades -->
<section id="skills" class="skills">
    <div class="contenido-skills">
      <h2>Skills</h2>
      <div class="fila-skills">
        <!-- Skills tecnicos -->
        <div class="col-skills">
          <h3>Skills tecnicos</h3>
        <div class="skill">
          <span>HTML & CSS</span>
          <div class="barra-skill">
            <div class="htmlcss">
              <span>85%</span>
            </div>
          </div>
        </div>
        <div class="skill">
          <span>JavaScript</span>
          <div class="barra-skill">
            <div class="js">
              <span>70%</span>
            </div>
          </div>
        </div>
        <div class="skill">
          <span>Bootstrap</span>
          <div class="barra-skill">
            <div class="bootstrap">
              <span>80%</span>
            </div>
          </div>
        </div>
        </div>
        <!-- Skills profesionales -->
        <div class="col-skills">
          <h3>Skills profresionales</h3>
          <div class="skill">
            <span>Comunicacion</span>
            <div class="barra-skill">
              <div class="comunicacion">
                <span>80%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Trabajo en equipo</span>
            <div class="barra-skill">
              <div class="equipo">
                <span>85%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Creatividad</span>
            <div class="barra-skill">
              <div class="creatividad">
                <span>90%</span>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
    <div class="editorskills">
      <div class="añadirskills">
        <button type="submit" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#añadirSkillsModal">
          <i class="fa-solid fa-plus"></i>
          </button>
        </div>
          <div class="eliminarskills">
            <button type="submit" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#eliminarSkillsModal">
              <i class="fa-solid fa-trash-can"></i>
              </button>
          </div>
          <div class="editarskills">
            <button type="submit" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editarSkillsModal">
              <i class="fa-sharp fa-solid fa-pencil"></i>
              </button>
            </div>
    </div>
  
  </section>