<!-- Sobre mi -->
<section id="sobremi" *ngFor="let Persona of persona">
  
    <div class="imgPerfil">
      <div class="imgPerfilModal">
      <button type="submit" class="btn" data-bs-toggle="modal" data-bs-target="#imgPerfilModal">
        <i class="fa-solid fa-camera-retro"></i>
      </button></div>
      <img [src]='Persona.foto' alt="Foto-de-perfil">
    </div>
    <div class="sobremi">
      <h1 class="titulosobremi">Sobre mi</h1>
      <h2>Hola, soy <span>{{Persona.nombre}} {{Persona.apellido}} </span></h2>
      <h3>Full Stack Developer Jr.</h3>
      <p>{{Persona.sobremi}}
      </p>

      <h4>Datos Personales</h4>
      <ul>
        <li>
          <strong>Edad</strong>
          {{Persona.edad}}
        </li>
        <li>
          <strong>Teléfono</strong>
          {{Persona.telefono}}
        </li>
        <li>
          <strong>Email</strong>
          {{Persona.email}}
        </li>
        <li>
        <strong>Dirección</strong>
        {{Persona.direccion}}
        </li>
      </ul>
    </div>
    <div class="nombrePerfilModal" *ngIf="isLogged">
    <button type="submit" class="btn" data-bs-toggle="modal" data-bs-target="#nombrePerfilModal">
      <i class="fa-sharp fa-solid fa-pencil"></i>
    </button>
    </div>


</section>
